.detail-container {
    padding: 0 5%;
    padding-top: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
    /* height: calc(fit-content + 250px); */
    /* position: relative; */
}

.detail-navigation {
    display: flex;
    align-items: center;
    gap: 5%;
}

.detail-navigation .back-button {
    border: 2px solid green;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 1.5rem;
    border-radius: 10px;
}

.detail-navigation p {
    font-size: 1.25rem;
    font-weight: bold;
    color: green;
}

.detail-content {
    width: 100%;
    height: fit-content;
    position: relative;
}

.detail-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.detail-description > p {
    font-size: 18px;
    font-weight: bold;
}

.detail-description > strong {
    font-size: 24px;
    color: red;
    font-weight: bold;
}

.detail-description > span {
    opacity: 50%;
}

.detail-image {
    border: 2px solid green;
    margin: 0 15%;
    border-radius: 10px;
}

.detail-image img {
    width: 100%;
    border-radius: 10px;
}

.description-variant {
    border: 2px solid green;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.variant-list {
    display: flex;
    gap: 10px;
}

.variant {
    border: 2px solid green;
    color: green;
    padding: 5px 15px;
    border-radius: 10px;
}

.product-list {
    width: 100%;
    display: flex;
    gap: 5%;
    overflow: scroll;
}

.product-list::-webkit-scrollbar {
    display: none;
}

.product-card {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.product-image {
    width: 100%;
    height: 80%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
}

.product-description span {
    opacity: 0.5;
}

.button-container {
    position: fixed;
    display: flex;
    max-width: 428px;
    width: 428px;
    height: fit-content;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    z-index: 5;
    /* transform: translateY(-100%); */
    background-color: green;
    justify-content: center;
    gap: 20px;
    padding: 15px 15px;
    border-radius: 10px 10px 0 0;
}

.button-container > div {
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 10px;
}

.button-container .button-cart {
    color: white;
    border: 2px solid white;
}

.button-container .button-buy {
    background-color: white;
    color: green;
    flex-grow: 1;
    text-align: center;
}